/* PC,SP Style */
* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}

p {
  margin: 0;
}

/* Header */
.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

.header-inner a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* MyProfile Title */
h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  border: 1px solid black;
  padding: 0px 20px;
}

.home {
  text-decoration: none;
}

/* Navigation Menu */
nav .menu {
  display: flex;
  padding-left: 0;
}

nav li {
  margin: 0 20px;
  list-style: none;
}

nav a {
  font-size: 34px;
}

h2 {
  margin: 0;
  padding: 60px 0 40px;
  text-align: center;
  font-size: 34px;
}

p,
li {
  font-size: 18px;
}

/* Visual */
img {
    margin: 0 auto;
    width: 100%;
}

/* About */
.about-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    max-width: 960px;
}

/* Name */
.name {
    font-size: 24px;
    font-weight: bold;
}

/* Circle Visual */
.circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

/* Profile */
.content {
    padding: 0 20px;
    margin: 0 auto
}

/* Works */
.works-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
}

/* Visual & Article of Works */
.item {
    width: 25%;
    padding-bottom: 60px;
    margin: 0 10px;
}

/* Footer */
footer p {
    text-align: center;
    padding-bottom: 20px;
}

/* SP Style */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 28px;
        padding: 30px 0 20px;
    }

    nav li {
        margin: 0 10px;
    }

    nav a {
        font-size: 21px;
    }

    .item {
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }
}